.idea
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
.docker/mysql/.env.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
id_rsa_travis
id_rsa_travis.pub
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
